<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Expositores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-card *ngFor="let speaker of speakers" class="speaker">
    <ion-card-header>
      <ion-item (click)="goToSpeakerDetail(speaker)">
        <ion-avatar item-left>
          <img *ngIf="speaker.profilePic" [src]="speaker.profilePic">
          <img *ngIf="!speaker.profilePic" src="assets/img/sin_foto.svg"><br>
        </ion-avatar>
        {{speaker.name}}
      </ion-item>
    </ion-card-header>

    <ion-card-content class="outer-content">
      <ion-list>
        <button ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
