<ion-header>
  <ion-navbar>
    <ion-title>Charla</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{session.name}}</h1>

  <h4 *ngFor="let speaker of session.speakers">
    {{speaker.name}}
  </h4>

  <p>
    {{session.timeStart}} - {{session.timeEnd}}
  </p>

  <p>{{session.location}}</p>

  <p>{{session.description}}</p>
  <div *ngIf="voteEnabled">
    <p>Vota que te pareció la charla:</p>
    <div *ngIf="voteEnabled">
      <ion-icon name="star" *ngFor="let number of [1,2,3,4,5]" (click)="setVote(number)" [class.yellow-star]="voteMade && voteMade >= number" class="star"></ion-icon>
      <p>
        <button ion-button (click)="voteTalk()">VOTAR</button>
      </p>
    </div>
  </div>
  <div *ngIf="!voteEnabled && session.kind === 'charla'">
    Tu voto fue registrado, muchas gracias.
  </div>
    <div *ngIf="error">
      {{error}}
  </div>
</ion-content>
